<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ site.url }}/assets/eric-on-the-bow.png" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:description" content="Personal website for Eric Raslich including a blog, portfolio, and contact information.">
    <meta name="description" content="Personal website for Eric Raslich including a blog, portfolio, and contact information.">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="manifest" href="/manifest.webmanifest">
    
    <title>Eric Raslich - {{ title }}</title>
  </head>
  <body class="m-4 text-gray-700 dark:text-gray-400 dark:bg-gray-900 max-w-2xl mx-auto">
    
    {% include 'partials/site-head.html' %}
    
    <main tabindex="-1" id="main-content" class="min-h-dvh">
      {% block content %}
      {% endblock %}
    </main>
    
    {% include 'partials/_footer.html' %}
    
    <script src="/js/main.js" type="text/javascript"></script>
  </body>
</html>
