---
title: Just Eric
---
<!doctype html>
<html lang="en">
  
  {% include '_head.njk' %}

  <body class="max-w-2xl min-h-screen mx-4 mt-4 text-gray-800 ">
    
    {{ content | safe }}

    <script src="https://unpkg.com/popper.js" type="text/javascript"></script>
    <script src="https://unpkg.com/tooltip.js" type="text/javascript"></script>
    <script src="/js/main.js" type="text/javascript"></script>
  </body>
</html>