---
title: Just Eric
---
<!doctype html>
<html lang="en">
  {% include '_head.njk' %}
  <body class="m-4 text-gray-900">
    {{ content | safe }}
    <script src="https://unpkg.com/popper.js" type="text/javascript"></script>
    <script src="https://unpkg.com/tooltip.js" type="text/javascript"></script>
    <script src="/js/main.js" type="text/javascript"></script>
  </body>
</html>