---
layout: layouts/mainLayout.njk
---

<div>
    <h1 class="text-lg">{{ title }}</h1>
    <h2 class="text-sm">({{ subtitle }})</h2>
    <p class="text-xs">{{ page.date | dateDisplay }}<p>
</div>

<article>
    {{ content | safe }}
</article>