---
layout: layouts/base.njk
---
<div class="max-w-2xl mt-4 leading-loose">
    {% block intro %}
    <p>Intro should be here</p>
    {% endblock %}
</div>

<div class="mt-8 p-3 bg-gray-100">
    {% block project %}
    <p>project should be here</p>
    {% endblock %}
</div>

<div class="flex flex-wrap mt-4 leading-loose">
    {% block thoughts %}
    <p>thoughts should be here</p>
    {% endblock %}
</div>

{% changelog filePath=page.inputPath %}