---
title: Uses
eleventyExcludeFromCollections: true
tags: uses
---
<h1 class="text-xl">Things I Use</h1>
<p class="mt-2">If you see something on this list that interests you, feel free to reach out to me for more information if there's not enough here.</p>
<p class="mt-2">
    A largely recurring theme in my <code>/uses</code> page is just using what gets me by for the moment.
    Literally no one has asked for this, but it's a work in progress and will serve to continue documenting
    and justifying the money I spend.
</p>

<h3 class="mt-4 text-lg">Tech</h3>
<ol class="mt-2 list-inside list-disc">
    {%- for tech in collections.tech -%}
        <li>
            <a href={{ tech.url }}>
                {{ tech.data.title }}
            </a>
            <span class="text-sm text-gray-700">
                {{ tech.data.summary }}
            </span>
        </li>
    {%- endfor -%}
</ol>

<h3 class="mt-4 text-lg">Development</h3>
<ol class="mt-2 list-inside list-disc">
    {%- for development in collections.development -%}
        <li>
            <a href={{ development.url }}>
                {{ development.data.title }}
            </a>
            <span class="text-sm text-gray-700">
                {{ development.data.summary }}
            </span>
        </li>
    {%- endfor -%}
</ol>

<h3 class="mt-4 text-lg">Bike / Auto / Mechanical</h3>
<ol class="mt-2 list-inside list-disc">
    {%- for auto in collections.auto -%}
        <li>
            <a href={{ auto.url }}>
                {{ auto.data.title }}
            </a>
            <span class="text-sm text-gray-700">
                {{ auto.data.summary }}
            </span>
        </li>
    {%- endfor -%}
</ol>

<h3 class="mt-48">Just Trust Me</h3>
<ol class="mt-2 text-sm list-inside list-none">
    {%- for item in oneOffs -%}
        <li class="text-gray-700">
            <a href={{ item.referralUrl }}>{{ item.name }}</a>
        </li>
    {%- endfor -%}
</ol>
