---
title: Uses
eleventyExcludeFromCollections: true
tags: uses
---
<h1 class="text-xl">Things I Use</h1>
<p>I'll be honest, a lot of this is a way to get some affiliate links out there. But I would never recommend something that I don't use myself.</p>
<p>If you see something on this list that interests you, feel free to reach out to me for more information if there's not enough here.</p>
<p>Any purchases made through these links will give me a small referral bonus, but won't increase your purchase price.</p>

<h3 class="pt-4 text-lg">Read Why I Use It</h3>
<ol class="pt-2 list-inside list-disc">
    {% for uses in collections.uses %}
        <li>
            <a href={{ uses.url }}>{{ uses.data.title }}</a>
        </li>
    {% endfor %}
</ol>

<h3 class="pt-4 text-lg">Just Trust Me</h3>
<ol class="pt-2 list-inside list-disc">
    {% for item in oneOffs %}
        <li>
            <a href={{ item.referralUrl }}>{{ item.name }}</a>
        </li>
    {% endfor %}
</ol>
