---
title: Just Eric
---
doctype html
html
    include /head.pug
    body.m-2
        header
            nav
                a(href="/" class={"border-b-2 border-blue-500": page.url === '/'}).mr-4 Home
                a(href="/projects" class={"border-b-2 border-blue-500": page.url === '/projects/'}).mr-4 Projects
                a(href="/posts" class={"border-b-2 border-blue-500": page.url === '/posts/'}).mr-4.mr-4 Blog
                a(href="/hire" class={"border-b-2 border-blue-500": page.url === '/hire/'}).mr-4.mr-4 Contact

        main !{content}
        
        footer.text-xs
            p You can support me by downloading the Brave browser and using it for a while. I think it's pretty great. If you like google chrome with less ads that interrupt your browsing experience, you'll dig it. Be sure to turn on the rewards features that pay you for your attention during the occasional, unobtrusive ads. These rewards can then be automatically donated back to the sites you frequent or tipped out to content creators you value.
            a(href="https://brave.com/eri404").border-b-2.border-blue-500 Check it out.
        
        script(src="/js/main.js" type="text/javascript")