---
title: Garden
layout: layouts/base.njk
eleventyExcludeFromCollections: true
tags: garden
---
<h1 class="text-xl">Garden</h1>

<h2 class="font-semibold">I'll plant something here to grow</h2>

<p>
  I'm not sure exactly what I'll put here eventually. But it seems like a garden is something I should tend.
  I do it in real life, I'll do it here as well.
</p>

<p>
  Right now I'm really struggling to get started on a side project after a day of working on work projects.
  That doesn't feel like it is going to be a good thing. For now, I just want to let that sink in and let it move on.
  In the mean time, I am going to work harder and earlier. While my girlfriend is getting ready for work in the
  morning (she has to commute), I'll work on my side projects.
</p>