---
title: Getting Started with an Ethereum Node on a Raspberry Pi 4
subtitle: Raspberry Pi 4 is my jam
tags: ["raspberry", "pi", "ethereum", "self-hosted", "tech"]
---
<p class="w-full">It took me quite a few starts and stops, but I think I finally got it working. Detailed write up coming soon, but here's a parts list below:</p>

<div class="w-2/3 mx-auto my-6 rounded-lg shadow-xl">
  <video controls loop class="w-full">
    <source src="https://res.cloudinary.com/duzmgsio4/video/upload/f_auto,q_auto:eco/v1589227248/eth-node-sync.mov">
    Sorry, your browser doesn't support embedded videos.
  </video>
</div>
