{% set ctaPrefix = cta %}

{% if ctaContent %} 
  {% set ctaPrefix = ctaContent %}
{% endif %}

<article class="w-1/2 border rounded border-blue-800 p-2 text-sm font-semibold">
  <div class="">
    <h2 class="">{{ ctaPrefix.title }}</h2>
    <p class="">{{ ctaPrefix.summary }}</p>
    <div class="">
      <a class="" href="{{ ctaPrefix.buttonUrl }}">
        {{ ctaPrefix.buttonText }}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="inline w-8 icon-arrow-thin-right-circle fill-current">
          <path class="secondary" d="M14.59 13H7a1 1 0 0 1 0-2h7.59l-2.3-2.3a1 1 0 1 1 1.42-1.4l4 4a1 1 0 0 1 0 1.4l-4 4a1 1 0 0 1-1.42-1.4l2.3-2.3z"></path>
        </svg>
      </a>
    </div>
  </div>
</article>