<a class="sr-only" href="#main-content">Skip to content</a>
<header role="banner">
  <nav aria-label="Primary" class="flex flex-wrap text-center">
    <div class="w-1/3 sm:w-1/6 mt-2 mb-4">
      <a href="/" aria-label="{{ site.name }} - home" class="{% if page.url === '/' %}border-b-2 border-blue-500{% endif %}">
        {% include "partials/brand.svg" %}
        Eric
      </a>
    </div>
    {% for link in navigation.items %}
      <div class="w-1/3 md:w-1/6 mt-2 mb-4">
        <a href="{{ link.url }}" class="{% if page.url.includes(link.url) %}border-b-2 border-blue-500{% endif %}">{{ link.text }}</a>
      </div>
    {% endfor %}
  </nav>
</header>
