<a class="sr-only" href="#main-content">Skip to content</a>
<header role="banner">
  <nav aria-label="Primary" class="flex justify-around">
    <div class="mt-2 mb-4">
      <a href="/" aria-label="{{ site.name }} - home" class="flex-1 {% if page.url === '/' %}border-b-2 border-blue-500{% endif %}">
        {# {% include "partials/brand.svg" %} #}
        Eric
      </a>
    </div>
    {% for link in navigation.items %}
      <div class="mt-2 mb-4">
        <a href="{{ link.url }}" class="flex-1 {% if page.url.includes(link.url) %}border-b-2 border-blue-500{% endif %}">{{ link.text }}</a>
      </div>
    {% endfor %}
  </nav>
</header>
