<a class="hidden skip-link" href="#main-content">Skip to content</a>
<header role="banner">
  <nav aria-label="Primary">
    <a href="/" aria-label="{{ site.name }} - home" class="mr-4 {% if page.url === '/' %}border-b-2 border-blue-500{% endif %}">
      {% include "partials/brand.svg" %}
      Eric
    </a>
    {% for link in navigation.items %}
        <a href="{{ link.url }}" class="mr-4 {% if page.url.includes(link.url) %}border-b-2 border-blue-500{% endif %}">{{ link.text }}</a>
    {% endfor %}
  </nav>
</header>
