{% if update %}
<article class="relative max-w-sm text-sm rounded bg-green-100 p-2">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fixed mt-2 ml-2 fill-current w-8 icon-announcement">
    <path class="primary text-green-200" d="M5.04 14.3l-.1-.3H4a2 2 0 0 1-2-2v-2c0-1.1.9-2 2-2h1a1 1 0 0 1 1-1h6.34a3 3 0 0 0 2.12-.88l1.66-1.66A5 5 0 0 1 19.66 3H21a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-1.34a5 5 0 0 1-3.54-1.46l-1.66-1.66a3 3 0 0 0-2.12-.88H11v5a1 1 0 0 1-1 1H8a1 1 0 0 1-.95-.68l-2-5.98a1 1 0 0 1 0-.05z"></path>
    <rect width="8" height="10" x="4" y="6" class="secondary text-green-200" rx="1"></rect>
  </svg>
  <h2 class="text-center mt-4">Hey! - {{ update.title }}</h2>
  <p class="mt-4">{{ update.summary }}</p>
  {% if update.learnMore %}
  <div class="text-sm text-center">
    <a href="{{ update.learnMore.link }}">{{ update.learnMore.text }}</a>
  </div>
  {% endif %}
</article>
{% endif %}