---
layout: layouts/mainlayout.njk
---
<h1 class="text-xl">Just Eric</h1>
<p>I like to live simply and experiment wrecklessly with web technologies, and fishing.</p>
<p>I write about <span id="fishing">fishing</span>, learning <span id="webdev">web development</span>, and other things probably.</p>
