---
layout: layouts/mainlayout.njk
---
<h1 class="text-xl">Just Eric</h1>
<p>I like to live simply and experiment wrecklessly with <span id="webdev">web technologies</span>, and <span id="fishing">fishing</span>.</p>
<p>I write about fishing, learning web development, and other things probably.</p>
