---
layout: layouts/base.pug
---
h1.text-xl Just Eric
p I like to live simply and experiment wrecklessly with web technologies, and fishing.
p I write about fishing, learning web development, and other things that are probably too 
