---
layout: layouts/mainlayout.njk
---
<h1>Things I Use</h1>
<p>I'll be honest, a lot of this is a way to get some affiliate links out there. But I would never recommend something that I don't use myself.</p>