---
layout: layouts/mainlayout.njk
---
<h1>Things I Use</h1>
<p>I'll be honest, a lot of this is a way to get some affiliate links out there. But I would never recommend something that I don't use myself.</p>
<p>If you see something on this list that interests you, feel free to reach out to me for more information if there's not enough here.</p>
<p>Any purchases made through these links will give me a small referral bonus, but won't increase your purchase price.</p>