---
title: Just Eric
---
doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title= title
    body
        header
            nav
                a(href="/") Home
                a(href="/") Projects
                a(href="/posts") Blog
                a(href="/") About

        main !{content}
        
        footer
            p You can support me by downloading the Brave browser and using it for a while. I think it's pretty great. If you like google chrome with less ads that interrupt your browsing experience, you'll dig it. Be sure to turn on the rewards features that pay you for your attention during the occasional, unobtrusive ads. These rewards can then be automatically donated back to the sites you frequent or tipped out to content creators you value.
            a(href="https://brave.com/eri404") Check it out.