---
title: Couch to 5k
---
<div class="max-w-2xl mt-4 leading-loose">
    <h1 class="text-xl">{{ title }}</h1>
    <p class="mt-2">
        Couch to 5k doesn't seem to exist in any usable way online from a cursory search.
        Here's a hopefully beautiful and useful version that you can use to keep track of your own progress.
    </p>
</div>

<div class="inline-block rounded mt-8 p-3 bg-gray-100">
    <div class="text-blue-900">
        <h2 class="text-xl border-blue-400 border-b-2 w-full text-center">Couch to 5k</h2>
        <div class="grid gap-2 grid-cols-8 flex-wrap w-full pt-4">
            <div class="p-1 bg-blue-100 sm:text-sm rounded">Week</div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded">Day 1</div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded">Day 2</div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded">Day 3</div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded">Day 4</div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded">Day 5</div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded">Day 6</div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded">Day 7</div>
            
            <div class="p-1 bg-blue-100 sm:text-sm rounded">1</div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>5 minute walk</p>
                <p>2 minute jog</p>
                <p>5 minute walk</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>5 minute walk</p>
                <p>2 minute jog</p>
                <p>5 minute walk</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>5 minute walk</p>
                <p>3 minute jog</p>
                <p>5 minute walk</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>

            <div class="p-1 bg-blue-100 sm:text-sm rounded">2</div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>5 minute walk</p>
                <p>3 minute jog</p>
                <p>5 minute walk</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>5 minute walk</p>
                <p>4 minute jog</p>
                <p>5 minute walk</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>5 minute walk</p>
                <p>5 minute jog</p>
                <p>5 minute walk</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>

            <div class="p-1 bg-blue-100 sm:text-sm rounded">3</div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>5 minute walk</p>
                <p>6 minute jog</p>
                <p>5 minute walk</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>4 minute jog</p>
                <p>5 minute walk</p>
                <p>4 minute jog</p>
                <p>5 minute walk</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>5 minute walk</p>
                <p>7 minute jog</p>
                <p>5 minute walk</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>

            <div class="p-1 bg-blue-100 sm:text-sm rounded">4</div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>5 minute walk</p>
                <p>7 minute jog</p>
                <p>5 minute walk</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>5 minute walk</p>
                <p>8 minute jog</p>
                <p>5 minute walk</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>5 minute walk</p>
                <p>9 minute jog</p>
                <p>5 minute walk</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>

            <div class="p-1 bg-blue-100 sm:text-sm rounded">5</div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>5 minute walk</p>
                <p>9 minute jog</p>
                <p>5 minute walk</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>6 minute jog</p>
                <p>5 minute walk</p>
                <p>6 minute jog</p>
                <p>5 minute walk</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>5 minute walk</p>
                <p>10 minute jog</p>
                <p>5 minute walk</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>5 minute walk</p>
                <p>11 minute jog</p>
                <p>5 minute walk</p>
            </div>

            <div class="p-1 bg-blue-100 sm:text-sm rounded">6</div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>5 minute walk</p>
                <p>11 minute jog</p>
                <p>5 minute walk</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>13 minute jog</p>
                <p>5 minute walk</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>13 minute jog</p>
                <p>5 minute walk</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>

            <div class="p-1 bg-blue-100 sm:text-sm rounded">7</div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>15 minute jog</p>
                <p>5 minute walk</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>8 minute jog</p>
                <p>5 minute walk</p>
                <p>8 minute jog</p>
                <p>5 minute walk</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>16 minute jog</p>
                <p>5 minute walk</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>16 minute jog</p>
                <p>5 minute walk</p>
            </div>

            <div class="p-1 bg-blue-100 sm:text-sm rounded">8</div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>17 minute jog</p>
                <p>5 minute walk</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>18 minute jog</p>
                <p>5 minute walk</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>20 minute jog</p>
                <p>5 minute walk</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>

            <div class="p-1 bg-blue-100 sm:text-sm rounded">9</div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>20 minute jog</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>12 minute jog</p>
                <p>5 minute walk</p>
                <p>12 minute jog</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>24 minute jog</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>25 minute jog</p>
            </div>

            <div class="p-1 bg-blue-100 sm:text-sm rounded">10</div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>25 minute jog</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>27 minute jog</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>30 minute jog</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Relax</p>
            </div>
            <div class="p-1 bg-blue-100 sm:text-sm rounded transform transition-transform duration-300 hover:scale-110">
                <p>Race Day</p>
            </div>
        </div>
    </div>
</div>

<div class="flex flex-wrap max-w-2xl mt-4 leading-loose">
    <h2 class="text-lg w-full">To Dos:</h2>
    <div class="w-full p-2">
        <ul class="space-y-2">
            <li>Make Responsive</li>
            <li>Mark Boxes</li>
            <li>Store in LocalStorage</li>
        </ul>
    </div>
    {# <p class="mt-2">
        Well this was a frustrating exercise. Getting the three columns working on the "desktop" size breakpoint
        was pretty difficult. I always hate to use "magic divs" because they feel like cheating. This design
        required one magic div with a simple mx-auto class around the middle two feature squares. After that,
        I had to mess with the margins a bit for the different breakpoints as well for the "Karma" feature.
        Otherwise, it wouldn't have the correct spacing at both breakpoints.
    </p>

    <div class="w-full md:w-1/2 p-2">
        <p class="mt-2 font-semibold">Where I Deviated</p>
        <ul class="space-y-2">
            <li>Features are a little more square than the design</li>
            <li>No font here either</li>
        </ul>
    </div> #}

    <div class="w-full p-2">
        {% changelog filePath=page.inputPath %}
    </div>
</div>