---
title: Projects
eleventyExcludeFromCollections: true
tags: project
---
<h1>Projects</h1>
<div>
  <a href="/projects/web-ar-vr">AR/VR Experiments</a>
</div>
<p>
  Still working on the resume. I'd love to help you bring an idea to life.
  Do you want to have me 
  <a href="/hire" class="border-b-2 border-blue-500">create something</a>
  for you?
</p>