---
title: Pomodoro Timer
---
<h1 class="text-lg">Pomodoro Timer</h1>
Pomodoro timer project. In progress because I really need it.

<div class="bg-red-400 w-full flex justify-around">
    <p class="flex-1">Time Remaining: 12:00</p>
    <p class="flex-1">start</p>
    <p class="flex-1">pause</p>
    <p class="flex-1">skip</p>
    <p class="flex-1">auto-start</p>
</div>