---
title: Price Grid
---
<div class="mt-4 leading-loose">
    <h1 class="text-xl">Simple Price Grid</h1>
    <p class="mt-2">
        I stumbled on <a class="border-blue-300 border-b" href="frontendmentor.io">Frontend Mentor</a> recently and thought it looked like
        a pretty straightforward, free resource for design ideas to recreate. It's not all totally free,
        but a lot of it looks like it is right now. Here's a
            <a class="border-blue-300 border-b" href="https://dev.to/frontendmentor/16-front-end-projects-with-designs-to-help-improve-your-coding-skills-5ajl">list of 16 front-end projects</a>
        with designs that I'm starting with.
    </p>

    <p class="mt-2">
        Here's my take on the first project example: <a class="border-blue-300 border-b" href="https://www.frontendmentor.io/challenges/single-price-grid-component-5ce41129d0ff452fec5abbbc" >Simple Price Grid Component</a>.
    </p>
</div>

<div class="mt-8 p-3 bg-gray-100">
    <div class="flex flex-wrap rounded overflow-hidden shadow-lg">
        <div class="w-full p-8 bg-white">
            <p class="text-lg font-bold text-teal-400">Join our community</p>
            <p class="mt-4 text-bright-yellow">30-day, hassle-free money back guarantee</p>
            <p class="mt-2 text-gray-500 leading-loose">
            Gain access to our full library of tutorials along with expert code reviews.
            Perfect for any developers who are serious about honing their skills.
            </p>
        </div>

        <div class="flex-col space-between p-8 bg-teal-500 w-full sm:w-1/2 text-teal-200">
            <p class="font-semibold text-lg">Monthly Subscription</p>
            <div>
                <p class="mt-4 text-3xl text-teal-100">$29<span class="ml-4 text-base text-teal-400">per month</span></p>
                <p class="mt-2">Full access for less than $1 a day</p>
            </div>
            <button class="w-full py-4 mt-6 text-white bg-bright-yellow rounded transform transition-all duration-300 ease-linear transform-translate shadow-md hover:-translate-y-1 hover:shadow-xl">
                Sign Up
            </button>
        </div>
        
        <div class="flex-col space-between p-8 bg-teal-400 w-full sm:w-1/2 text-teal-200">
            <p class="font-semibold text-teal-100">Why Us</p>
            <ul class="mt-2">
                <li>Tutorials by industry experts</li>
                <li>Peer & expert code review</li>
                <li>Coding exercises</li>
                <li>Access to our GitHub repos</li>
                <li>Community forum</li>
                <li>Flashcard decks</li>
                <li>New videos every week</li>
            </ul>
        </div>
    </div>
</div>

<div class="flex flex-wrap mt-4 leading-loose">
    <h2 class="text-lg w-full">Thoughts and Notes</h2>
    <div class="w-full md:w-1/2 p-2">
        <p class="mt-2 font-semibold">Points of Interest</p>
        <ul class="space-y-2">
            <li>Built with Tailwind standard colors, except the yellow. You can check out the source code to see my tailwind config theme extensions.</li>
            <li>Copying a design is easier and more fun than creating from scratch.</li>
        </ul>
    </div>
    <div class="w-full md:w-1/2 p-2">
        <p class="mt-2 font-semibold">Where I Deviated</p>
        <ul class="space-y-2">
            <li>I didn't bother to include the suggested font (Karla). I wasn't sure how to do it the most efficient way for just this page. WIP</li>
            <li>Accessibility: Not sure this design was super accessible to begin with. Maybe I could have made it more accessible by tinkering with the built in colors. Not going to jump through those hoops for this example project.</li>
        </ul>
    </div>

    <div class="w-full p-2">
        {% changelog filePath=page.inputPath %}
    </div>
</div>