---
layout: layouts/base.njk
---
<h1 class="text-xl">Well, heck.</h1>
<p>It looks like you're offline and couldn't reach the page you were after.</p>
<p>But isn't it cool you can still get anywhere at all? That's because my site is offline-first and and I want you to be able to get to it anytime. It's just another cool feature I'm happy to help you put on your site when we <a href="/hire/"> work together.</p>